<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Bedel de tecnicatura UTN -FRT - Beca de servicio</h2> - <h3>(2019-2020)</h3>
            </li>
            <p>- Atender al personal universitario (en oficina y telefónico).
            </p>
            <p>- Control y verificación de las actas de exámenes tomados.
            </p>
            <p>- Gestear mediante software las inscripciones a las tecnicaturas y licenciaturas
                ofrecidas.</p>
        </ul>

        <ul>
            <li>
                <h2>Negocio Familiar
                    Art. De limpieza - Mercadería - Comida</h2> - <h3>(2017-Actualidad)</h3>
            </li>
            <p>- Atención al publico (en casa y telefónico (WhatsApp).</p>
            <p>- Ayudante en la preparación de comidas.</p>
            <p>- Detallar si hay faltante de algún insumo, producto, etc.</p>
        </ul>
    </div>
</div>
