<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolor enim optio quidem quos quis ducimus sunt! Illo sapiente expedita officia, fuga voluptatibus beatae aspernatur ullam cum, excepturi libero deleniti.</p>
        </ul>

        <ul>
            <li>
                <h1>Educación 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolor enim optio quidem quos quis ducimus sunt! Illo sapiente expedita officia, fuga voluptatibus beatae aspernatur ullam cum, excepturi libero deleniti.</p>
        </ul>

        <ul>
            <li>
                <h1>Educación 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolor enim optio quidem quos quis ducimus sunt! Illo sapiente expedita officia, fuga voluptatibus beatae aspernatur ullam cum, excepturi libero deleniti.</p>
        </ul>
    </div>
</div>
