<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajos de campo como estudiante
                    UTN - FRT</h2> - <h3>(2017-Actualidad)</h3>
            </li>
            <p>- investigar, analizar, observar y realizar entrevistas con clientes/usuarios para
                recopilar información sobre los procesos que realizan para la futura creación de un
                sistema de información.
            </p>
            <p>- Diseñar distintas herramientas de recopilación de datos y procesos.
            </p>
            <p>- Investigar en los avances que tengan lugar en la ciencia de datos y la tecnología.</p>
        </ul>

        <ul>
            <li>
                <h2>Argentina Programa - 1° Etapa #SéProgramar </h2> - <h3>(2021)</h3>
            </li>
            <p>Certificado de Min. de Desarrollo Productivo</p>
        </ul>

        <ul>
            <li>
                <h2>Curso Introducción al lenguaje de Programación</h2> - <h3>(2021)</h3>
            </li>
            <p>Certificado de EducacionIT
            </p>
        </ul>

        <ul>
            <li>
                <h2>Protocolo https - Introducción al mundo web</h2> - <h3>(2021)</h3>
            </li>
            <p>Certificado de EducacionIT
            </p>
        </ul>

        <ul>
            <li>
                <h2>Desarrollo de app móviles
                </h2> - <h3>(2020)</h3>
            </li>
            <p>Certificado de  Google Activate
            </p>
        </ul>

        <ul>
            <li>
                <h2>Ingeniería en Sistemas de Información
                </h2> - <h3>(2017-Actualidad)</h3>
            </li>
            <p>Universidad Tecnológica Nacional - Facultad Regional Tucumán
            </p>
        </ul>

        <ul>
            <li>
                <h2>Titulo Modalidad Bienes Y Servicios
                </h2> - <h3>(2011-2016)</h3>
            </li>
            <p>Escuela Secundaria Martin Miguel de Güemes (Tucumán-Argentina).
            </p>
        </ul>
    </div>
</div>
