<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/49474587-b768-4aba-9a43-97fd79a45785.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span>
        <p id="nombre">Figueroa Felix Ignacio</p>
        <p>Full Stack Developer Jr</p>
        </span>
        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Me considero una persona
                responsable, organizada y
                detallista. Soy bueno en el trabajo
                en equipo.
                Tengo una gran disposición para
                aprender, muy buenas habilidades
                interpersonales y capacidad para
                desarrollar el trabajo en equipo.</p>
        </span>

    </div>
</div>

